
<h3>We can edit project info for</h3>
<h3><p><strong><%=@project.title %></strong></h3> <h3>here!</h3></p>

<p>
<h3><button type="submit" name="button" class="btn btn-info"><a href="/projects/<%= @project.id %>/edit">Edit Project</a></button></h3>
</p>

<%if @volunteers.any?() %>
  <h3>Your Volunteers</h3><br>
  <ul>
    <h4><% @volunteers.each do |people| %>
      <li>
        <a href="/edit_volunteer/<%= people.id %>">
          <%= people.name %>
        </a>
      </li>
    <% end %></h4>
  </ul>
<br>
<% else %>
  <h3>There are no volunteers yet!</h3>
<% end %>
<br>
<a href="/">Home</a>
