<h1>A Simple Volunteer and Project Tracker</h1>

<div class="row">
  <div class="col-md-6">
    <h2>Enter in your Project Information</h2>
    <form action="/add_project" method="post">
      <div class="form-group">
        <label for="name">title</label>
        <input type="text" name="title" required pattern=".*\S+.*" title="This field is required" placeholder="title">

        <label for="name">detail</label>
        <input type="text" name="detail" required pattern=".*\S+.*" title="This field is required" placeholder="detail">

      </div>

      <button type="submit" name="addproject">Create Project</button>
    </form>

    <%if @projects.any?() %>
      <h3>Your Projects</h3><br>
      <ul>
        <h4><% @projects.each do |events| %>
          <li>
            <h4><a href="/project/<%= events.id() %>">
              <%= events.title() %> : <%events.detail() %></h4>
            </a>
          </li>
        <% end %></h4>
      </ul>

      <% else %>
        <h3>There are no projects added yet!</h3>
        <% end %>

  </div>
  <div class="col-md-6">



  </div>
</div>
