
<h2>We can edit project info for</h2>


<h3><p><%=@project.title %> </h3> <h2>here!</h2> </p>


<h3><a href="/projects/<%= @project.id %>/edit">Edit Project</a></h3>
<br>

<%if @volunteers.any?() %>
  <h3>Your Volunteers</h3><br>
  <ul>
    <h4><% @volunteers.each do |people| %>
      <li>
        <a href="/edit_volunteer/<%= people.id %>">
          <%= people.name %>
        </a>
      </li>
    <% end %></h4>
  </ul>
<br>
<% else %>
  <h3>There are no volunteers yet!</h3>
<% end %>
<br>
<a href="/">Home</a>
