
<h2>We can edit project info for</h2>
<h3><p><%=@project.title %> </h3> <h2>here!</h2> </p>

<h3><a href="/project_edit/<%= @project.id() %>">Edit Project Info</a></h3>
<br>
<h3><p><a href="/">return home</a></p></h3>
