
<h2>We can edit volunteer info for <%=@volunteer.name %> here</h2>

<p><h3><a href="/edit_volunteer/<%= @volunteer.id %>">Edit Volunteer Info</a></h3></p>

<p><h3><a href="/">return home</a></h3></p>
